{% extends "home/headerfooter.html" %}
{% block content %}

	<section class="overlape">
		<div class="block no-padding">
			<div data-velocity="-.1"  class="parallax scrolly-invisible no-parallax"></div><!-- PARALLAX BACKGROUND IMAGE -->
			<div class="container fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="inner-header">
							<h4 style="color: red; text-align: center;" >{{error}}</h4>
							<h4 style="color: green; text-align: center;" >{{msg}}</h4>

							<h3>Employer Registration Form </h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="block remove-top">
			<div class="container">
				 <div class="row no-gape">
				 <form action="/employer/" method="POST" enctype='multipart/form-data'>
						 					{% csrf_token %}				 	
				 	<div class="col-lg-9 column">
				 		<div class="padding-left">
					 		<div class="manage-jobs-sec">
					 			<div class="border-title"><h3>Company Profile</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row">

						 				<div class="col-lg-6">
					 						<span class="pf-title">Name Of The Organization</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="nameorg" type="text" class="form-control datepicker" required="">
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Name Of The Representative</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="rname" type="text" class="form-control datepicker" required="">
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Email Of The Representative</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="email" type="email" class="form-control datepicker" required="">
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Contact Number</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="phone" type="tel" maxlength="10" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" required="">
					 						</div>					 						
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Contact Number Of The Representative</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="phoner" type="tel" maxlength="10" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" required="">
					 						</div>					 						
					 					</div>
										<div class="col-lg-6">
					 						<span class="pf-title">Designation Of The Representative</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="designation" type="text" class="form-control datepicker" required="">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
                        <span  class="pf-title">Website</span>
                        <div class="pf-field">
                            <input type="url"  name='website' class="form-control datepicker" required="" >
                            
                        </div>
                    </div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Company Logo</span>
					 						<div class="pf-field">
					 							<input id="file-upload" class="form-control" type="file" name="logo" accept=".jpeg,.png" / required="">
					 						<p> Suitable files are .jpg & .png</p>

					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Address Of The Organization</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="address" required=""></textarea>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="border-title"><h3>Job Details</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Upload Your Job Vacancy Here.</span>
					 						<div class="pf-field">
					 							<input id="file-upload" class="form-control" type="file" name="job_file" accept=".xlsx" / required="">
					 						<p> Suitable files is .xlsx</p>
					 						<p><span style="color: red;">*</span> Click Here To Download Sample <a href="/static/file/sample file job details.xlsx"  download="w3logo" style="color: blue;" >File.</a></p>


					 						</div>
					 				</div>
					 			</div>
						 		<!-- <div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-6">
					 						<span class="pf-title">No. Of Position </span>
					 						<div class="pf-field">
					 							<input placeholder="" name="noof" type="text" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" required="">
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<input list="gender"  name='gender' required=""  class="form-control datepicker">
					 							<datalist id="gender">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Both'>Both</option>
                          </datalist>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="resumeadd-form">
						 			<div class="row">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="jobtitle" required="" type="text" class="form-control datepicker">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="jobdescription" required="" ></textarea>					 							
					 						</div>
					 					</div>
					 				</div>
					 			</div>

<div id="myj1" style="display: none">
                 <div class="border-title"><h3>Job Details</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-6">
					 						<span class="pf-title">No. Of Position </span>
					 						<div class="pf-field">
					 							<input placeholder="" name="noof1" type="text" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" >
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<input list="gender1"  name='gender1'  class="form-control datepicker">
					 							<datalist id="gender1">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Both'>Both</option>
                          </datalist>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="resumeadd-form">
						 			<div class="row">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="jobtitle1" type="text" class="form-control datepicker">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="jobdescription1" ></textarea>					 							
					 						</div>
					 					</div>
					 				</div>
					 			</div>
                  </div>

<div style="padding-left: 15px;">
<input type="button"  id="myb21" style="display: none" class="subclassr" value="Remove" onclick="remove()"></div>

<div id="myj2" style="display: none">
                  <div class="border-title"><h3>Job Details</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-6">
					 						<span class="pf-title">No. Of Position </span>
					 						<div class="pf-field">
					 							<input placeholder="" name="noof2" type="text" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" >
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<input list="gender2"  name='gender2'  class="form-control datepicker">
					 							<datalist id="gender2">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Both'>Both</option>
                          </datalist>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="resumeadd-form">
						 			<div class="row">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="jobtitle2" type="text" class="form-control datepicker">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="jobdescription2" ></textarea>					 							
					 						</div>
					 					</div>
					 				</div>
					 			</div>
                  </div>

<div style="padding-left: 15px;">
<input type="button" id="myb212" style="display: none" class="subclassr" value="Remove" onclick="remove2()"></div>

<div id="myj3" style="display: none">
                  <div class="border-title"><h3>Job Details</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-6">
					 						<span class="pf-title">No. Of Position </span>
					 						<div class="pf-field">
					 							<input placeholder="" name="noof3" type="text" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" >
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<input list="gender3"  name='gender3'  class="form-control datepicker">
					 							<datalist id="gender3">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Both'>Both</option>
                          </datalist>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="resumeadd-form">
						 			<div class="row">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="jobtitle3" type="text" class="form-control datepicker">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="jobdescription3" ></textarea>					 							
					 						</div>
					 					</div>
					 				</div>
					 			</div>
                  </div>

<div style="padding-left: 15px;">
<input type="button" id="myb213" style="display: none" class="subclassr" value="Remove" onclick="remove3()"></div>

<div id="myj4" style="display: none">
                  <div class="border-title"><h3>Job Details</h3></div>
						 		<div class="resumeadd-form">
						 			<div class="row align-items-end">
						 				<div class="col-lg-6">
					 						<span class="pf-title">No. Of Position </span>
					 						<div class="pf-field">
					 							<input placeholder="" name="noof4" type="text" class="form-control datepicker" onkeypress="return onlyNumberKey(event)" >
					 						</div>
					 					</div>
					 					<div class="col-lg-6">
					 						<span class="pf-title">Gender</span>
					 						<div class="pf-field">
					 							<input list="gender4"  name='gender4'  class="form-control datepicker">
					 							<datalist id="gender4">
                            <option value='Male'>Male</option>
                            <option value='Female'>Female</option>
                            <option value='Both'>Both</option>
                          </datalist>
					 						</div>
					 					</div>
						 			</div>
						 		</div>
						 		<div class="resumeadd-form">
						 			<div class="row">
						 				<div class="col-lg-12">
					 						<span class="pf-title">Job Title</span>
					 						<div class="pf-field">
					 							<input placeholder="" name="jobtitle4" type="text" class="form-control datepicker">
					 						</div>
					 					</div>
					 					<div class="col-lg-12">
					 						<span class="pf-title">Description</span>
					 						<div class="pf-field">
					 							<textarea placeholder="" name="jobdescription4" ></textarea>					 							
					 						</div>
					 					</div>
					 				</div>
					 			</div>
                  </div>

<div style="padding-left: 15px;">
<input type="button" id="myb214" style="display: none" class="subclassr" value="Remove" onclick="remove4()"></div>
 -->


								<div class="resumeadd-form">
									<div class="row">
					 					<div class="col-lg-12">
					 						<!-- <input type="button" id="myb11" onclick="add()"  value="Add More Jobs" class="subclass" >
											<input type="button" id="myb112" style="display: none" onclick="add2()" value="Add More Jobs" class="subclass" >
											<input type="button" id="myb113" style="display: none" onclick="add3()" value="Add More Jobs" class="subclass" >
											<input type="button" id="myb114" style="display: none" onclick="add4()" value="Add More Jobs" class="subclass" > -->
					 						 <button type="submit">Save</button>
					 					</div>
						 			</div>
						 		</div>
					 		</div>
					 	</div>
					</div>
				 </div>
				</form>
			</div>
		</div>
	</section>
{% endblock %}