{% extends 'jobfair/headerfooter.html' %}
{% block content %}
{% block title %}
<title>Pinnacle 2022 | Employer Registration </title>
{% endblock %}
<section id="page-title" data-bg-parallax="/static/jobfair/images/parallax/14.jpg">
<div class="bg-overlay"></div>
<div class="container">
<div class="page-title">
<h1 class="text-uppercase text-medium">Employer Registration</h1>
<h4 style="color: red; text-align: center;" >{{error}}</h4>
<h4 style="color: green; text-align: center;" >{{msg}}</h4>
<!-- <span>Work is easy when you have all tools around you!</span> -->
</div>
</div>
</section>
<section class="p-b-10">
<div class="container">
<div class="row">
<div class="col-lg-12">
	<div class="heading-text heading">
<h4>Register Here</h4>
</div>

<form action="/pinnacle-employer-registration/" method="POST" enctype='multipart/form-data'>
  {% csrf_token %}
  <div class="form-row">


    <div class="form-group col-md-6">
      <label for="inputEmail4">Name of the Organization<span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Name of the Organization" name="name" required>
    </div>


    <div class="form-group col-md-6">
     <label for="inputEmail4">Email <span style="color: red;">*</span></label>
      <input type="Email" class="form-control" id="inputPassword4" placeholder="Email" name="email" required>
    </div>
  
  <div class="form-group col-md-6">
<br>  	
    <label for="inputEmail4">Phone Number <span style="color: red;">*</span></label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Phone Number" name="phone" onkeypress="return onlyNumberKey(event)" required>
  </div>

  

   <div class="form-group col-md-6">
<br>   	
     <label for="inputEmail4">Name of the Representative <span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Name of the Representative" name="rname" required>
    </div>


  <div class="form-group col-md-6">
<br>  	
    <label for="inputEmail4">Designation of the Representative <span style="color: red;">*</span></label>
    <input type="text" class="form-control" iD="inputAddress2" placeholder="Designation" name="designation" required>
  </div>

     <div class="form-group col-md-6">
<br>
      <label for="inputCity">Website URL <span style="color: red;">*</span></label>
      <input type="text" class="form-control" id="inputCity" placeholder="Website URL" name="website" required>
    </div>
</div>
<div class="form-row">
    <div class="form-group col-md-12">
<br>
<label for="inputEmail4">Address <span style="color: red;">*</span></label>
    <textarea class="form-control" id="inputAddress" placeholder="Address" name="address" required></textarea>
</div>
</div>

 <div class="form-row">

    <div class="form-group col-md-6">
<br>    	
      <label for="File">Upload Your Job Vacancy <span style="color: red;">*</span></label>
      <input type="file" class="form-control" id="File" name="file" accept=".xlsx, .csv" required>
      <p style="font-size: 12px;">Maximum Uploadable size is 5 MB. Only Excel file type is supported.</p>
      <p>Click Here to Download <a href="/static/file/sample file job details.xlsx" download="w3logo" style="color: blue;">File Format.</a> </p>
    </div>
  </div>
 <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


</div>
</div>
<br>
<br>
</section>

{% endblock %}